/* 이 안쪽에 있는 내용은 CSS이므로, CSS 문법에 맞게 처리하라고 브라우저에 요청  */

/* 선택자 */
a {
    /* color: black; */
    /* a 태그 모두에 대해서 폰트 붉은색 일괄 적용 */
    /* 선언문 */
    text-decoration: none;
    /* property : value */
    color: black;
}

#active {
    color: red;
}

.saw {
    color: green;
}

/* 클래스는 먼저 나온 것을 적용하니까 순서 바뀌면 적용 달라진다 */
/* 아이디가 우선순위 더 높다 */
/* 아이디는 원칙적으로 한 번만 동작하도록 하는 방식이 좋다
물론 여러 번 나와도 여러 번 동작하기는 한다
그래서 아이디는 어지간하면 사용하지 마라 하드코딩 할 거 아니면 */

h1 {
    /* font-size: 3em; */
    font-size: 45px;
    /* em 사이즈는 어디에 쓰는 거였더라  */

    text-align: center;
    /* align : 정렬 */

    border-bottom: 1px solid grey;
    margin: 0;
    padding: 20px;
}

#grid ol {
    /* 부모가 #grid인 ol 태그만 선택한다 */
    border-right: 1px solid grey;
    /* width: 100px; */
    margin: 0;
    /* padding: 20px; */
    padding-top: 20px;
}

body {
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#article {
    padding: 25px;
    margin: 0px;
}

#article h2 {
    margin-top: 0px;
}

@media(max-width:800px) {

    /* 800px보다 작을 때 */
    #grid {
        display: block;
    }
    h1{
        border: none;
    }
}